{{ define "head" }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SIFEUCR</title>
<link rel="canonical" href="/">
<link rel="icon" href="/s/girasol.svg" type="image/x-icon">
<meta name="description" content="{{ if .Desc }}{{ .Desc }}{{ else }}Sistema Integrado Financiero de la FEUCR{{ end }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
<style>table tr, table th, table td {padding:0.3rem 1.2rem 0.3rem 0.3rem;font-size:0.86rem;white-space:nowrap;}</style>
<script src="https://unpkg.com/htmx.org@2.0.4"></script>
{{ end }}
