{{ define "head" }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SIFEUCR</title>
<link rel="canonical" href="/">
<link rel="icon" href="/s/girasol.svg" type="image/x-icon">
<meta name="description" content="Sistema Integrado Financiero de la FEUCR">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
<style>table tr, table th, table td {padding:0.3rem;font-size:1.8vh;white-space:nowrap;}</style>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
<script>
 htmx.defineExtension('loading-state', {
     onEvent: function(name, evt) {
         const root = evt.detail.elt;
         const targets = root.querySelectorAll('[loading-state]');

         if (name === "htmx:beforeRequest") {
             targets.forEach(el => el.setAttribute("aria-busy", "true"));
         } else if (name === "htmx:afterRequest") {
             targets.forEach(el => el.removeAttribute("aria-busy"));
         }
     }
 });
</script>
<script>
 function filterTable(event, colIndex) {
     const input = event.target;
     const table = input.closest("table");
     const filterValue = input.value.toLowerCase();
     const rows = table.tBodies[0].rows;

     for (let i = 0; i < rows.length; i++) {
         const cell = rows[i].cells[colIndex];
         const cellText = cell.textContent || cell.innerText;
         rows[i].style.display = cellText.toLowerCase().includes(filterValue) ? "" : "none";
     }
 }
</script>
{{ end }}
