{{ define "head" }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SIFEUCR</title>
<link rel="canonical" href="/">
<link rel="icon" href="/s/girasol.svg" type="image/x-icon">
<meta name="description" content="{{ if .Desc }}{{ .Desc }}{{ else }}Sistema Integrado Financiero de la FEUCR{{ end }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{{ end }}
