:root {
  --font-family: sans-serif;
  --color-fg: #000;
  --color-fg-secondary: #e3eaee;
  --color-bg: #fefefe;
  --color-bg-secondary: #eff2f4;
  --color-font: #000;
  --color-font-unemph: #767676;
  --color-font-hyper: #007296;
  --color-primary: #1d9ad6;
  --color-primary-dark: #003d6f;
  --color-secondary: #f7941d;
  --color-accent: #fecc40;
  --content-width: 65em;
  --content-width-max: 95%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #fff;
    --color-fg-secondary: #24323f;
    --color-bg: #16202a;
    --color-bg-secondary: #192734;
    --color-font: #fff;
    --color-font-unemph: #798591;
    --color-font-hyper: #1da1f3;
    --color-primary: #1d9ad6;
    --color-primary-dark: #003d6f;
    --color-secondary: #f7941d;
    --color-accent: #fecc40;
  }
}

@media (max-width: 1000px) {
  .sidebar span {
    opacity: 0;
  }
  .sidebar {
    width: 3.3em !important;
  }
  .content {
    left: 3em !important;
  }
}

@media (max-width: 800px) {
  .toc {
    display:none;
  }
  .content {
    right: 3% !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  transition: all 0.2s ease;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-font);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 12em;
  background-color: var(--color-bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--color-fg-secondary);
}

.sidebar-logo {
  display: flex;
  align-items: center;
  padding: 0.8em;
  font-weight: bold;
}

.sidebar-logo span {
  font-weight: bold;
}

.sidebar-logo img {
  max-width: 1.8em;
  margin-right: 1em;
  height: auto;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 1.5em;
  width: 100%;
  margin: 2.5em 0;
  line-height: 3em;
}

.sidebar ul li a {
  color: var(--color-font-unemph);
  border-left: 0.2em solid #ffffff00;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.2em 0.2em;
  transition: all 0.2s ease;
}

.sidebar ul li a i {
  color: var(--color-font-unemph) !important;
}

.sidebar ul li.active a {
  border-left: 0.2em solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-fg-secondary) !important;
  font-weight: bold;
}

.sidebar ul li.active a i {
  color: var(--color-primary) !important;
}

.sidebar ul li a i {
  min-width: 2.5em;
  text-align: center;
  height: 1em;
  line-height: 1em;
}

.sidebar, .sidebar * {
  transition: all 0.2s ease;
}

.sidebar ul li:hover a,
.sidebar ul li:hover a i {
  color: var(--color-fg) !important;
  background-color: var(--color-fg-secondary) !important;
  font-weight: bold;
}

.content {
  position: absolute;
  left: 11em;
  padding: 0.2em 1% 0.2em 5%;
  max-width: var(--content-width);
  text-align: justify;
}

.content p {
  line-height: 1.6em;
}

.content p {
  margin: 1.2em 0;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  margin: 1.2em 0 0.4em 0;
  text-align: left;
}

.content img {
  max-width: 100%;
  padding: 1em;
}

footer {
  margin: 2em 0 0 0;
  padding: 1em;
  color: var(--color-font-unemph);
  text-align: center;
}

.toc {
  position: fixed;
  border-left: 1px solid var(--color-fg-secondary);
  top: 2.5em;
  right: 2%;
  width: 15%;
  font-size: 0.85em;
  padding-left: 2em;
}

.toc ul {
  line-height: 1.2em;
  padding: 0;
}

.toc li {
  margin: 1em 0;
}

.toc ul ul {
  padding-left: 1.5em;
}

a {
  text-decoration: none;
  color: var(--color-font-hyper);
}

a i {
  text-decoration: none;
  color: var(--color-font);
}

.toc a:hover {
  text-decoration: underline;
}

.spinner {
  width: 2em;
  height: 2em;
  border: 0.2em solid var(--color-fg-secondary);
  border-bottom-color: var(--color-primary);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tag {
  margin-bottom: 0.2em;
  display: inline-block;
  color: var(--color-font);
  padding: 0.15em 0.8em;
  border: 1px solid var(--color-font-unemph);
  border-radius: 0.8em;
  font-size: 0.65em;
  text-align: center;
  cursor: default;
}

.tag.active {
  border: 1px solid var(--color-fg-secondary);
  color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  display: none;
  width: 15em;
  background-color: var(--color-fg-secondary);
  color: var(--color-font);
  font-size: 0.8em;
  text-align: center;
  padding: 0.5em;
  border-radius: 1em;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.2s ease;
  left: clamp(0.5em, 50%, calc(100% - 0.5em));
}

.tooltip:hover .tooltip-text {
  display: block;
  opacity: 1;
}

.tooltip i {
  color: var(--color-font-unemph);
}

.scrollable {
  display: flex;
  overflow-x: auto;
  margin: 2em 0;
  width: 80vw;
}

.scrollable .item {
  padding: 0 0.5em;
  margin: 0 1em 0 0;
  min-width: 17em;
  width: 25em;
  max-width: 80vw;
  min-height: 8em;
  text-align: center;
  border: 1px solid var(--color-fg-secondary);
  border-radius: 1em;
  background-color: var(--color-bg-secondary);
}

.card {
  text-align: left;
  width: 100%;
  margin: 1em auto;
}

.card-items {
  max-height: 30em;
  overflow-y: auto;
}

.card-summary {
  padding: 1em 0;
  border-radius: 0.8em;
  border: 1px solid var(--color-fg-secondary);
  max-height: 25em;
  overflow-y: auto;
}

.divisor {
  border: none;
  border-top: 2px dotted var(--color-font-unemph);
}


.card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.6em;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.card-subtitle {
  font-size: 0.95em;
  color: var(--color-font-unemph);
  font-family: monospace;
}

.card-item {
  margin: 0.7em 0;
  border: 1px solid #ffffff00;
  border-radius: 1em;
  padding: 0.5em 0.6em;
  transition: all 0.2s ease;
}

.card-item:hover{
  border: 1px solid var(--color-primary);
  background-color: var(--color-fg-secondary);
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
}

.progress-bar {
  background-color: var(--color-fg-secondary);
  border-radius: 1em;
  height: 0.4em;
  position: relative;
  overflow: hidden;
  margin: 0.2em 0;
}

.progress-bar .progress {
  height: 100%;
  background-color: var(--color-primary);
  border-radius: 1em 0 0 1em;
}

.label {
  display: block;
  font-size: 0.85em;
  margin-top: 0.2em;
}

.value {
  font-size: 0.9em;
  color: var(--color-font-unemph);
  display: block;
  font-family: monospace;
  text-align: right;
  margin-top: 0.6em;
}

hr {
  border: 1px solid var(--color-fg-secondary);
  margin: 0 0 1em 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 600px;
  min-height: 5em;
  max-height: 70vh;
  overflow-y: auto;
  background-color: var(--color-bg);
  padding: 1em;
  border-radius: 1em;
  border: 1px solid var(--color-fg-secondary);
  box-shadow: 0 2em 1em rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dialog-content h1,
.dialog-content h2,
.dialog-content h3,
.dialog-content h4 {
  margin-top: 0.2em;
}

.overlay.active {
  display: block;
}

.dialog.active {
  display: block;
}

#logout {
  font-size: 0.6em;
  color: var(--color-fg);
  padding: 0.3em 0.6em 0.2em 0.5em;
  margin: 0.2em 0;
  border: 1px solid var(--color-fg-secondary);
  border-radius: 0.2em;
  background-color: var(--color-bg-secondary);
}

.dialog .close-button {
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  background: none;
  border: none;
  font-size: 1.8em;
  cursor: pointer;
  color: var(--color-font);
}

.login, .login form button {
  width: 100%;
  color: var(--color-fg);
  padding: 1em;
  border: 1px solid var(--color-fg-secondary);
  border-radius: 1em;
  background-color: var(--color-bg-secondary);
}

.login form input {
  width: 100%;
  color: var(--color-fg);
  margin: 0.2em 0;
  padding: 0.8em 1.5em;
  border: 1px solid var(--color-fg-secondary);
  border-radius: 1em;
  background-color: var(--color-bg);
}

.login form button {
  color: var(--color-fg);
  padding: 0.4em 1.5em;
  border: 1px solid var(--color-fg-secondary);
  border-radius: 1em;
  background-color: var(--color-bg-secondary);
  width: 8em;
}

.login form button:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-fg-secondary);
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
}

.sol-servicios, .sol-servicios form button {
  width: 100%;
  color: var(--color-fg);
  padding: 1em;
  border: 1px solid var(--color-fg-secondary);
  border-radius: 1em;
  background-color: var(--color-bg-secondary);
}

.sol-servicios form input {
  width: 100%;
  color: var(--color-fg);
  margin: 0.2em 0;
  padding: 0.8em 1.5em;
  border: 1px solid var(--color-fg-secondary);
  border-radius: 1em;
  background-color: var(--color-bg);
}

.sol-servicios form button {
  color: var(--color-fg);
  padding: 0.4em 1.5em;
  border: 1px solid var(--color-fg-secondary);
  border-radius: 1em;
  background-color: var(--color-bg-secondary);
  width: 8em;
}

.sol-servicios form button:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-fg-secondary);
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
}

.sol-servicios form textarea {
  width: 100%;
  color: var(--color-fg);
  margin: 0.2em 0;
  padding: 0.8em 1.5em;
  border: 1px solid var(--color-fg-secondary);
  border-radius: 1em;
  background-color: var(--color-bg);
  min-height: 10em;
  min-width: 100%;
  max-height: 40em;
  max-width: 100%;
  overflow: auto;
}

.sol-servicios form select {
  width: 100%;
  color: var(--color-fg);
  margin: 0.2em 0;
  padding: 0.8em 1.5em;
  border: 1px solid var(--color-fg-secondary);
  border-radius: 1em;
  background-color: var(--color-bg);
}

.htmx-button-div {
  display: flex;
  margin-top: 1.5em;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
}

canvas {
  width: 100%;
  height: 15em;
  color: var(--color-fg);
  touch-action: none;
}
