{{ define "main-report" }}
<details>
  <summary>Control Madre</summary>
  <div class="overflow-auto">
    <table class="striped">
      <thead>
        <tr>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Solicitud"     onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Emitido"       onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Requerido"     onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Detalle"       onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Cuenta"        onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Usuario"       onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Monto Bruto"   onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Partida"       onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Proveedor"     onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Solicitud"     onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Orden"         onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Factura"       onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Transferencia" onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="SICOP"         onkeyup="filterTable(this)"></th>
          <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Estado"        onkeyup="filterTable(this)"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>54</td>
          <td>2025-06-27 15:30</td>
          <td>2025-06-27 15:30</td>
          <td>Detalle del servicio...</td>
          <td>F-ADECO</td>
          <td>gustavo.calvogutierrrez</td>
          <td>c242,000.00</td>
          <td>0000190910</td>
          <td>CABSA Desarrolladores</td>
          <td>1234-2025</td>
          <td>1234-2025</td>
          <td>0000000000000094</td>
          <td>1231324-1241241</td>
          <td>Subido</td>
          <td>Completa</td>
          <td>Docs</td>
        </tr>
      </tbody>
    </table>
  </div>
</details>
{{ end }}
