{{ define "main-report" }}
<details>
  <summary><big><strong>Control Madre</strong></big></summary>
  <div class="body-width">
    <div class="overflow-auto">
      <table class="striped">
        <thead>
          <tr>
            <th><input type="number" step="1"        placeholder="Solicitud"     onkeyup="filterTable(this)"></th>
            <th><input type="date"   filter="after"  placeholder="Emitido"       onkeyup="filterTable(this)"></th>
            <th><input type="date"   filter="before" placeholder="Requerido"     onkeyup="filterTable(this)"></th>
            <th><input type="text"                   placeholder="Detalle"       onkeyup="filterTable(this)"></th>
            <th><input type="text"                   placeholder="Justificación" onkeyup="filterTable(this)"></th>
            <th><input type="text"                   placeholder="Cuenta"        onkeyup="filterTable(this)"></th>
            <th><input type="text"                   placeholder="Período"       onkeyup="filterTable(this)"></th>
            <th><input type="text"                   placeholder="Usuario"       onkeyup="filterTable(this)"></th>
            <th><input type="number" step="any"      placeholder="Monto Bruto"   onkeyup="filterTable(this)"></th>
            <th><input type="text"                   placeholder="Partida"       onkeyup="filterTable(this)"></th>
            <th><input type="text"                   placeholder="Proveedor"     onkeyup="filterTable(this)"></th>
            <th><input type="text"                   placeholder="Solicitud"     onkeyup="filterTable(this)"></th>
            <th><input type="text"                   placeholder="Orden"         onkeyup="filterTable(this)"></th>
            <th><input type="number" step="1"        placeholder="Factura"       onkeyup="filterTable(this)"></th>
            <th><input type="text"                   placeholder="Transferencia" onkeyup="filterTable(this)"></th>
            <th><input type="text"                   placeholder="Estado"        onkeyup="filterTable(this)"></th>
          </tr>
        </thead>
        <tbody>
          {{ range .AllPurchases }}
          <tr>
            <td style="display:flex;justify-content:right">
              <span style="margin:0 0.3rem">{{ .ReqID }}</span>
              <a style="margin:0 0.3rem" href="/doc/p/{{ .ReqID }}" target="_blank">Proforma</a>
              <a style="margin:0 0.3rem" href="/doc/j/{{ .ReqID }}" target="_blank">Justificación</a>
            </td>
            <td>{{ unixDateToStr .ReqIssued }}</td>
            <td>{{ unixDateToStr .PurchaseRequired }}</td>
            <td>{{ summary .ReqDescr 40 }}</td>
            <td>{{ summary .ReqJustif 40 }}</td>
            <td>{{ .AccountAbbr }}</td>
            <td>{{ .PeriodName }}</td>
            <td>{{ .UserEmail }}</td>
            <td>{{ currency .PurchaseGrossAmount }}</td>
            <td>{{ .EntryObject }}</td>
            <td>{{ summary .SupplierName 40 }}</td>
            <td>{{ .PurchaseGecoSol }}</td>
            <td>{{ .PurchaseGecoOrd }}</td>
            <td>{{ .PurchaseBill }}</td>
            <td>{{ .PurchaseTransfer }}</td>
            <td>{{ .PurchaseStatus }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</details>
{{ end }}
