{{ define "purchases" }}
<details>
  <summary>
    <big><strong>
      Compras
    </strong></big>
  </summary>
  <div class="body-width">
    <div class="overflow-auto">
      <table class="striped">
        <thead>
          <tr>
            <th><input type="number" step="1"   placeholder="Solicitud"     onkeyup="filterTable(this)"></th>
            <th><input type="text"              placeholder="Aprobación"     onkeyup="filterTable(this)"></th>
            <th><input type="text"              placeholder="Requerido"     onkeyup="filterTable(this)"></th>
            <th><input type="text"              placeholder="Detalle"       onkeyup="filterTable(this)"></th>
            <th><input type="text"              placeholder="Justificación" onkeyup="filterTable(this)"></th>
            <th><input type="number" step="any" placeholder="Monto Bruto"   onkeyup="filterTable(this)"></th>
            <th><input type="text"              placeholder="Proveedor"     onkeyup="filterTable(this)"></th>
            <th><input type="text"              placeholder="Período"       onkeyup="filterTable(this)"></th>
            <th><input type="text"              placeholder="Partida"       onkeyup="filterTable(this)"></th>
          </tr>
        </thead>
        <tbody>
          {{ range .Purchases }}
          <tr>
            <td style="display:flex;justify-content:right">
              <span style="margin:0 0.3rem">{{ .ReqID }}</span>
              <a style="margin:0 0.3rem" href="/doc/p/{{ .ReqID }}" target="_blank">Proforma</a>
              <a style="margin:0 0.3rem" href="/doc/j/{{ .ReqID }}" target="_blank">Justificación</a>
            </td>
            <td>
              {{ if .PurchaseGecoSol }}
              <span style="margin:0 0.3rem;color:green">Aprobada</span>
              {{ end }}
            </td>
            <td id="purchase-required-{{ .ReqID }}" class="clickable" onclick="toggleModal('modal-purchase-date-{{ .ReqID }}')">{{ unixDateLong .PurchaseRequired }}</td>
            <td id="purchase-descr-{{ .ReqID }}" class="clickable" onclick="toggleModal('modal-purchase-descr-{{ .ReqID }}')">{{ summary .ReqDescr 40 }}</td>
            <td id="purchase-justif-{{ .ReqID }}" class="clickable" onclick="toggleModal('modal-purchase-justif-{{ .ReqID }}')">{{ summary .ReqJustif 40 }}</td>
            <td class="clickable" onclick="toggleModal('modal-purchase-subs-{{ .ReqID }}')" style="text-align:right;">{{ currency .PurchaseGrossAmount }}</td>
            <td class="clickable" onclick="toggleModal('modal-purchase-supplier-{{ .ReqID }}')">{{ summary .SupplierName 40 }}</td>
            <td>{{ .PeriodName }}</td>
            <td>{{ .EntryObject }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
  <div style="display:flex;justify-content:center">
    <a href="/compra">
      <button class="outline">Nueva Compra</button>
    </a>
  </div>
</details>
<div id="dashboard-modals-purchases">
  {{ range .Purchases }}
  <dialog id="modal-purchase-date-{{ .ReqID }}">
    <article>
      <header>
        <button rel="prev" type="button" onclick="toggleModal('modal-purchase-date-{{ .ReqID }}')"></button>
        <h3>Fecha de ejecución para la solicitud #{{ .ReqID }}</h3>
      </header>
      <form
        id="modal-form-purchase-date-{{ .ReqID }}"
        method="PATCH"
        action="/common/purchase/{{ .ReqID }}"
      >
        <input type="datetime-local" value="{{ unixDateToDatetime .PurchaseRequired }}" name="purchase_patch_required" placeholder="Ejecución" aria-label="Ejecución" required>
        <div style="display:flex;justify-content:right">
          <button
            type="submit"
            onclick="fetchAndSwap(event)"
            target="#purchase-required-{{ .ReqID }}"
            swap="innerHTML"
            loading-state
          >Actualizar Ejecución</button>
        </div>
      </form>
    </article>
  </dialog>
  <dialog id="modal-purchase-descr-{{ .ReqID }}">
    <article>
      <header>
        <button rel="prev" type="button" onclick="toggleModal('modal-purchase-descr-{{ .ReqID }}')"></button>
        <h3>Detalle para la solicitud #{{ .ReqID }}</h3>
      </header>
      <form
        id="modal-form-purchase-descr-{{ .ReqID }}"
        method="PATCH"
        action="/common/request/{{ .ReqID }}"
      >
        <input
          name="req_patch_descr"
          placeholder="Detalle"
          required
          value="{{ .ReqDescr }}"
        >
        <div style="display:flex;justify-content:right">
          <button
            type="submit"
            onclick="fetchAndSwap(event)"
            target="#purchase-descr-{{ .ReqID }}"
            swap="innerHTML"
            loading-state
          >Actualizar Detalle</button>
        </div>
      </form>
    </article>
  </dialog>
  <dialog id="modal-purchase-justif-{{ .ReqID }}">
    <article>
      <header>
        <button rel="prev" type="button" onclick="toggleModal('modal-purchase-justif-{{ .ReqID }}')"></button>
        <h3>Justificación para la solicitud #{{ .ReqID }}</h3>
      </header>
      <form
        id="modal-form-purchase-justif-{{ .ReqID }}"
        method="PATCH"
        action="/common/request/{{ .ReqID }}"
      >
        <textarea
          style="height:100%;"
          name="req_patch_justif"
          placeholder="Justificación"
          required
        >{{ .ReqJustif }}</textarea>
        <div style="display:flex;justify-content:right">
          <button
            type="submit"
            onclick="fetchAndSwap(event)"
            target="#purchase-justif-{{ .ReqID }}"
            swap="innerHTML"
            loading-state
          >Actualizar Justificación</button>
        </div>
      </form>
    </article>
  </dialog>
  <dialog id="modal-purchase-subs-{{ .ReqID }}">
    <article>
      <header>
        <button rel="prev" type="button" onclick="toggleModal('modal-purchase-subs-{{ .ReqID }}')"></button>
        <h3>Subscripciones para la solicitud #{{ .ReqID }}</h3>
      </header>
    </article>
  </dialog>
  <dialog id="modal-purchase-supplier-{{ .ReqID }}">
    <article>
      <header>
        <button rel="prev" type="button" onclick="toggleModal('modal-purchase-supplier-{{ .ReqID }}')"></button>
        <h3>Proveedor para la solicitud #{{ .ReqID }}</h3>
      </header>
    </article>
  </dialog>
  {{ end }}
</div>
{{ end }}
