<head>
  <title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Site.BaseURL }}">
  <link rel="icon" href="/svg/girasol.svg" type="image/x-icon" />
  <link rel='stylesheet' type='text/css' href='/css/default.css'>
  <script src="/js/app.js"></script>
  {{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
  {{ end -}}
  <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta charset="utf-8">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://unpkg.com/htmx.org@2.0.3"></script>
</head>
