<div class="sidebar">
  <ul>
    {{ $menuItems := (slice
      (dict "icon" "bxs-news"                    "label" "Inicio"      "url" "/")
      (dict "icon" "bxs-user-circle" "label" "Cuenta"      "url" "/dashboard/")
    ) }}
    {{ range $menuItems }}
      {{ $isActive := eq .url $.Page.RelPermalink }}
      <li class="{{ if $isActive }}active{{ end }}">
        <a href="{{ .url }}">
          <i class="bx {{ .icon }}"></i>
          <span class="nav-item">{{ .label }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
  <div class="sidebar-bottom">
    <div class="sidebar-logo">
      <img src="/svg/girasol.svg">
      <span>{{ .Site.Title }}</span>
    </div>
  </div>
</div>
