{{ define "ajuste-form" }}
<main>
  <h1>Ajuste</h1>
  <div>
    <form id="sol-ajuste" hx-post="/api/ajustes" hx-target="#response" hx-swap="innerHTML">
      <div class="card-header">
        <small>Emite: <i>{{.Nombre}}</i></small>
      </div>
      <br>
      <hr>
      <div class="card-header">
        <span>
          <small>Monto:</small>
          <div class="tooltip">
            <i class='bx bxs-info-circle' ></i>
            <div class="tooltip-text">
              Monto (negativo o positivo) a ajustar
            </div>
          </div>
        </span>
      </div>
      <br>
      <div class="card-header">
        <input id="monto-bruto" name="monto-bruto" type="number" step="0.01" required>
      </div>
      <br>
      <hr>
      <div class="card-header">
        <span>
          <small>Cuenta y partida a modificar:</small>
          <div class="tooltip">
            <i class='bx bxs-info-circle' ></i>
            <div class="tooltip-text">
              Cuenta y partida que se modifican
            </div>
          </div>
        </span>
      </div>
      <br>
      <div class="card-header" id="cuentas-container" 
        hx-get="/api/cuentas/ajuste"
        hx-trigger="load" 
        hx-target="#cuentas-container" 
        hx-swap="outerHTML">
      </div>
      <div class="card-header">
        <select name="partida">
          <option value="servicios">Servicios</option>
          <option value="suministros">Suministros</option>
          <option value="bienes">Bienes</option>
        </select>
      </div>
      <br>
      <hr>
      <div class="card-header">
        <span>
          <small>Detalle:</small>
          <div class="tooltip">
            <i class='bx bxs-info-circle' ></i>
            <div class="tooltip-text">
              Motivo de realizar la donación
            </div>
          </div>
        </span>
      </div>
      <br>
      <div class="card-header">
        <textarea id="detalle" name="detalle" placeholder="Detalle" required></textarea>
      </div>
      <div id="response"></div>
      <div class="card-header">
        <div class="htmx-button-div">
          <button type="submit">Solicitar</button>
          <span class="spinner htmx-indicator" style="font-size: 0.8em;"/>
        </div>
      </div>
    </form>
  </div>
</main>
{{ end }}
