{{define "dashboard"}}
<main>
  <h1>{{.Cuenta.Nombre}}</h1>
  <span>Acreditaciones:</span>
  <div style="background-color: {{if .Cuenta.TEEU}}seagreen{{end}}" class="tag {{if .Cuenta.TEEU}}active{{end}}">TEEU</div>
  <div style="background-color: {{if .Cuenta.COES}}seagreen{{end}}" class="tag {{if .Cuenta.COES}}active{{end}}">COES</div>
  <div class="tooltip">
    <i class='bx bxs-info-circle' ></i>
    <div class="tooltip-text">
      Se necesitan estas acreditaciones para ejecutar presupuesto.
    </div>
  </div>
  <br><br><hr>
  <div class="scrollable">
    {{ range .Cuenta.Presupuestos }}
    {{if .General}}
    <div class="item">
      <div class="card">
        <div class="card-header">
          <span class="card-title">{{.Periodo}}</span>
        </div>
        <br>
        <hr>
        <div class="card-item">
          <span class="label">General</span>
          <div class="progress-bar">
            <div class="progress" style="width: 10%;"></div>
          </div>
          <span class="value">{{currency .General}} / {{currency .General}}</span>
        </div>
        <br>
        <hr>
        <div class="card-header">
          <span class="card-subtitle">Válido hasta: {{datetime .Validez}}</span>
        </div>
      </div>
    </div>
    {{else}}
    <!-- P1 -->
    <div class="item">
      <div class="card">
        <div class="card-header">
          <span class="card-title">{{.Periodo}}-{{.Index}}</span>
        </div>
        <div class="card-header">
          <span class="card-subtitle">{{currency .Total}} / {{currency .Total}}</span>
        </div>
        <br>
        <hr>
        <!-- Servicios -->
        <div class="card-item">
          <span class="label">Servicios</span>
          <div class="progress-bar">
            <div class="progress" style="width: {{frac .Servicios .Servicios}}%;"></div>
          </div>
          <span class="value">{{currency .Servicios}} / {{currency .Servicios}}</span>
        </div>
        <!-- Suministros -->
        <div class="card-item">
          <span class="label">Suministros</span>
          <div class="progress-bar">
            <div class="progress" style="width: {{frac .Suministros .Suministros}}%;"></div>
          </div>
          <span class="value">{{currency .Suministros}} / {{currency .Suministros}}</span>
        </div>
        <!-- Bienes -->
        <div class="card-item">
          <span class="label">Bienes</span>
          <div class="progress-bar">
            <div class="progress" style="width: {{frac .Bienes .Bienes}}%;"></div>
          </div>
          <span class="value">{{currency .Bienes}} / {{currency .Bienes}}</span>
        </div>
        <br>
        <hr>
        <div class="card-header">
          <span class="card-subtitle">Válido hasta: {{datetime .Validez}}</span>
        </div>
      </div>
    </div>
    {{end}}
    {{end}}
  </div>
  <div class="scrollable">
    <div class="item">
      <!-- Servicios -->
      <div class="card">
        <div class="card-header">
          <span class="card-title">Servicios</span>
          <a href="#">
            <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
          </a>
        </div>
        <div class="card-items">
          {{ range .Cuenta.Servicios }}
          <br>
          <hr>
          <div class="card-item"
            hx-get="/api/servicios/{{.IDServicios}}"
            hx-target="#dialog-content"
            hx-swap="innerHTML"
            onclick="showDialog()">
            <div style="background-color: goldenrod" class="tag active">Firmado</div>
            <div style="background-color: {{if .GecoSol}}cornflowerblue{{end}}" class="tag {{if .GecoSol}}active{{end}}">SF</div>
            <div style="background-color: {{if .COES}}peru{{end}}" class="tag {{if .COES}}active{{end}}">COES</div>
            <div style="background-color: {{if .Ejecutado}}seagreen{{end}}" class="tag {{if .Ejecutado}}active{{end}}">Ejecutado</div>
            <br>
            <span class="label">{{.Detalle}}</span>
            <span class="label">{{.ProvNom}}</span>
            <span class="value">-{{currency .MontoBruto}}</span>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="item">
      <!-- Suministros -->
      <div class="card">
        <div class="card-header">
          <span class="card-title">Suministros</span>
          <a href="#">
            <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
          </a>
        </div>
        <br>
        <div class="card-items">
          {{range .Suministros}}
          <hr>
          <div class="card-item"
            hx-get="/api/suministros/{{.IDSuministros}}"
            hx-target="#dialog-content"
            hx-swap="innerHTML"
            onclick="showDialog()">
            <div style="background-color: goldenrod" class="tag active">Firmado</div>
            <div style="background-color: {{if .Geco}}cornflowerblue{{end}}" class="tag {{if .Geco}}active{{end}}">SF</div>
            <div style="background-color: {{if .COES}}peru{{end}}" class="tag {{if .COES}}active{{end}}">COES</div>
            <br>
            <span class="label">Solicitud de suministros No.{{.IDSuministros}}</span>
            <span class="value">-{{currency .MontoBrutoTotal}}</span>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    <div class="item">
      <!-- Bienes -->
      <div class="card">
        <div class="card-header">
          <span class="card-title">Bienes</span>
          <a href="#">
            <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
          </a>
        </div>
        <br>
        <div class="card-items">
          {{range .Bienes}}
          <hr>
          <div class="card-item"
            hx-get="/api/bienes/{{.IDBienes}}"
            hx-target="#dialog-content"
            hx-swap="innerHTML"
            onclick="showDialog()">
            <div style="background-color: goldenrod" class="tag active">Firmado</div>
            <div style="background-color: {{if .GecoSol}}cornflowerblue{{end}}" class="tag {{if .GecoSol}}active{{end}}">SF</div>
            <div style="background-color: {{if .COES}}peru{{end}}" class="tag {{if .COES}}active{{end}}">COES</div>
            <div style="background-color: {{if .Recibido}}seagreen{{end}}" class="tag {{if .Recibido}}active{{end}}">Recibido</div>
            <br>
            <span class="label">{{.Detalle}}</span>
            <span class="value">-{{currency .MontoBruto}}</span>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
  <div class="scrollable">
    <div class="item">
      <!-- Donaciones -->
      <div class="card">
        <div class="card-header">
          <span class="card-title">Donaciones</span>
          <a href="#">
            <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
          </a>
        </div>
        <br>
        <div class="card-items">
          {{ $parentIDCuenta := .Cuenta.IDCuenta }}
          {{ range .Donaciones }}
          <hr>
          <div class="card-item"
            hx-get="/api/donaciones/{{.IDDonacion}}"
            hx-target="#dialog-content"
            hx-swap="innerHTML"
            onclick="showDialog()">
            <div style="background-color: goldenrod" class="tag active">Firmado</div>
            <br>
            <span class="label">{{.Detalle}}</span>
            <span class="value">
              {{if eq .IDCuentaEntrada $parentIDCuenta}}
              {{if eq .PartidaEntrada "servicios"}}Servicios{{end}}
              {{if eq .PartidaEntrada "suministros"}}Suministros{{end}}
              {{if eq .PartidaEntrada "bienes"}}Bienes{{end}}
              {{if eq .PartidaEntrada "general"}}General{{end}}
              {{end}}
              {{if eq .IDCuentaSalida $parentIDCuenta}}
              {{if eq .PartidaSalida "servicios"}}Servicios{{end}}
              {{if eq .PartidaSalida "suministros"}}Suministros{{end}}
              {{if eq .PartidaSalida "bienes"}}Bienes{{end}}
              {{if eq .PartidaSalida "general"}}General{{end}}
              {{end}}
              / {{if eq .IDCuentaSalida $parentIDCuenta}}-{{else}}+{{end}}{{currency .MontoBruto}}
            </span>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="item">
      <!-- Ajustes -->
      <div class="card">
        <div class="card-header">
          <span class="card-title">Ajustes</span>
          <a href="#">
            <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
          </a>
        </div>
        <br>
        <div class="card-items">
          {{range .Ajustes}}
          <hr>
          <div class="card-item"
            hx-get="/api/ajustes/{{.IDAjustes}}"
            hx-target="#dialog-content"
            hx-swap="innerHTML"
            onclick="showDialog()">
            <span class="label">{{.Detalle}}</span>
            <span class="value">
              {{if eq .Partida "servicios"}}Servicios{{end}}
              {{if eq .Partida "suministros"}}Suministros{{end}}
              {{if eq .Partida "bienes"}}Bienes{{end}}
              {{if eq .Partida "general"}}General{{end}}
              / {{if gt .MontoBruto 0.00}}+{{end}}{{currency .MontoBruto}}
            </span>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</main>
{{end}}
