{{define "dashboard"}}
<main>
  <h1><a href="/logout" id="logout"><i class='bx bx-log-out'></i></a> {{.Cuenta.Nombre}}</h1>
  <span>Acreditaciones:</span>
  <div class="tooltip">
    <i class='bx bxs-info-circle' ></i>
    <div class="tooltip-text">
      Se necesitan estas acreditaciones para ejecutar presupuesto.
    </div>
  </div>
  <div style="background-color: {{if .Cuenta.TEEU}}seagreen{{end}}" class="tag {{if .Cuenta.TEEU}}active{{end}}">TEEU</div>
  <div style="background-color: {{if .Cuenta.COES}}seagreen{{end}}" class="tag {{if .Cuenta.COES}}active{{end}}">COES</div>
  <br><br><hr>
  <div class="scrollable">
    {{ range .Cuenta.Presupuestos }}
    {{if .General}}
    <div class="item">
      <div class="card">
        <div class="card-header">
          <span class="card-title">{{.Periodo}}</span>
        </div>
        <br>
        <hr>
        <div class="card-item">
          <span class="label">General</span>
          <div class="progress-bar">
            <div class="progress" style="width: {{frac .TotalRestante .General}}%;"></div>
          </div>
          <span class="value">{{currency .TotalRestante}} / {{currency .General}}</span>
        </div>
        <br>
        <hr>
        <div class="card-header">
          <span class="card-subtitle">Válido hasta: {{datetime .Validez}}</span>
        </div>
      </div>
    </div>
    {{else}}
    <div class="item">
      <div class="card">
        <div class="card-header">
          <span class="card-title">{{.Periodo}}-{{.Index}}</span>
        </div>
        <div class="card-header">
          <span class="card-subtitle">{{currency .TotalRestante}} / {{currency .Total}}</span>
        </div>
        <br>
        <hr>
        <div class="card-item">
          <span class="label">Servicios</span>
          <div class="progress-bar">
            <div class="progress" style="width: {{frac .ServiciosRestante .Servicios}}%;"></div>
          </div>
          <span class="value">{{currency .ServiciosRestante}} / {{currency .Servicios}}</span>
        </div>
        <div class="card-item">
          <span class="label">Suministros</span>
          <div class="progress-bar">
            <div class="progress" style="width: {{frac .SuministrosRestante .Suministros}}%;"></div>
          </div>
          <span class="value">{{currency .SuministrosRestante}} / {{currency .Suministros}}</span>
        </div>
        <div class="card-item">
          <span class="label">Bienes</span>
          <div class="progress-bar">
            <div class="progress" style="width: {{frac .BienesRestante .Bienes}}%;"></div>
          </div>
          <span class="value">{{currency .BienesRestante}} / {{currency .Bienes}}</span>
        </div>
        <br>
        <hr>
        <div class="card-header">
          <span class="card-subtitle">Válido hasta: {{datetime .Validez}}</span>
        </div>
      </div>
    </div>
    {{end}}
    {{end}}
  </div>
  <div class="scrollable">
    <div class="item">
      <div class="card">
        <div class="card-header">
          <span class="card-title">Servicios</span>
          <a href="/servicios">
            <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
          </a>
        </div>
        <br>
        <div class="card-items">
          {{ range .Cuenta.Servicios }}
          <hr>
          <div class="card-item"
            hx-get="/api/servicios/{{.ID}}"
            hx-target="#dialog-content"
            hx-swap="innerHTML"
            onclick="showDialog()">
            <div style="background-color: {{if .FirmasCompletas}}goldenrod{{end}}" class="tag {{if .FirmasCompletas}}active{{end}}">Firmado</div>
            <div style="background-color: {{if .COES}}peru{{end}}" class="tag {{if .COES}}active{{end}}">COES</div>
            <div style="background-color: {{if .GecoSol}}cornflowerblue{{end}}" class="tag {{if .GecoSol}}active{{end}}">SF</div>
            <div style="background-color: {{if .Acuse}}seagreen{{end}}" class="tag {{if .Acuse}}active{{end}}">Ejecutado</div>
            <br>
            <span class="label">{{summary .Detalle 50}}</span>
            <span class="label">{{if .ProvNom}}{{summary .ProvNom 30}}{{else}}<i>Por definir</i>{{end}}</span>
            <span class="value">{{if .MontoBruto}}-{{currency .MontoBruto.Float64}}{{else}}<i>Por definir</i>{{end}}</span>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-header">
          <span class="card-title">Suministros</span>
          <a href="/suministros">
            <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
          </a>
        </div>
        <br>
        <div class="card-items">
          {{range .Cuenta.Suministros}}
          <hr>
          <div class="card-item"
            hx-get="/api/suministro/{{.ID}}"
            hx-target="#dialog-content"
            hx-swap="innerHTML"
            onclick="showDialog()">
            <div style="background-color: {{if .Firma}}goldenrod{{end}}" class="tag {{if .Firma}}active{{end}}">Firmado</div>
            <div style="background-color: {{if .COES}}peru{{end}}" class="tag {{if .COES}}active{{end}}">COES</div>
            <div style="background-color: {{if .GECO}}cornflowerblue{{end}}" class="tag {{if .GECO}}active{{end}}">SF</div>
            <div style="background-color: {{if .Acuse}}seagreen{{end}}" class="tag {{if .Acuse}}active{{end}}">Recibido</div>
            <br>
            <span class="label">Solicitud de suministros No. {{.ID}}</span>
            <span class="value">{{if .MontoBrutoTotal}}{{currency .MontoBrutoTotal}}{{else}}<i>Por definir</i>{{end}}</span>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-header">
          <span class="card-title">Bienes</span>
          <a href="/bienes">
            <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
          </a>
        </div>
        <br>
        <div class="card-items">
          {{range .Cuenta.Bienes}}
          <hr>
          <div class="card-item"
            hx-get="/api/bienes/{{.ID}}"
            hx-target="#dialog-content"
            hx-swap="innerHTML"
            onclick="showDialog()">
            <div style="background-color: {{if .FirmasCompletas}}goldenrod{{end}}" class="tag {{if .FirmasCompletas}}active{{end}}">Firmado</div>
            <div style="background-color: {{if .COES}}peru{{end}}" class="tag {{if .COES}}active{{end}}">COES</div>
            <div style="background-color: {{if .GecoSol}}cornflowerblue{{end}}" class="tag {{if .GecoSol}}active{{end}}">SF</div>
            <div style="background-color: {{if .Acuse}}seagreen{{end}}" class="tag {{if .Acuse}}active{{end}}">Recibido</div>
            <br>
            <span class="label">{{.Detalle}}</span>
            <span class="label">{{if .ProvNom}}{{summary .ProvNom 30}}{{else}}<i>Por definir</i>{{end}}</span>
            <span class="value">{{if .MontoBruto}}{{currency .MontoBruto}}{{else}}<i>Por definir</i>{{end}}</span>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
  <div class="scrollable">
    <div class="item">
      <div class="card">
        <div class="card-header">
          <span class="card-title">Donaciones</span>
          <a href="/donaciones">
            <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
          </a>
        </div>
        <br>
        <div class="card-items">
          {{ $parentIDCuenta := .Cuenta.ID }}
          {{ range .Cuenta.Donaciones }}
          <hr>
          <div class="card-item"
            hx-get="/api/donaciones/{{.ID}}"
            hx-target="#dialog-content"
            hx-swap="innerHTML"
            onclick="showDialog()">
            <div style="background-color: {{if .CartaCOES}}peru{{end}}" class="tag {{if .CartaCOES}}active{{end}}">COES</div>
            <br>
            <span class="label">{{.Detalle}}</span>
            <span class="value">
              {{if eq .CuentaEntrada $parentIDCuenta}}
              {{if eq .PartidaEntrada "servicios"}}Servicios{{end}}
              {{if eq .PartidaEntrada "suministros"}}Suministros{{end}}
              {{if eq .PartidaEntrada "bienes"}}Bienes{{end}}
              {{if eq .PartidaEntrada "general"}}General{{end}}
              {{end}}
              {{if eq .CuentaSalida $parentIDCuenta}}
              {{if eq .PartidaSalida "servicios"}}Servicios{{end}}
              {{if eq .PartidaSalida "suministros"}}Suministros{{end}}
              {{if eq .PartidaSalida "bienes"}}Bienes{{end}}
              {{if eq .PartidaSalida "general"}}General{{end}}
              {{end}}
              / {{if eq .CuentaSalida $parentIDCuenta}}-{{else}}+{{end}}{{currency .MontoBruto}}
            </span>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <div class="card-header">
          <span class="card-title">Ajustes</span>
        </div>
        <br>
        <div class="card-items">
          {{range .Cuenta.Ajustes}}
          <hr>
          <div class="card-item"
            hx-get="/api/ajustes/{{.ID}}"
            hx-target="#dialog-content"
            hx-swap="innerHTML"
            onclick="showDialog()">
            <span class="label">{{.Detalle}}</span>
            <span class="value">
              {{if eq .Partida "servicios"}}Servicios{{end}}
              {{if eq .Partida "suministros"}}Suministros{{end}}
              {{if eq .Partida "bienes"}}Bienes{{end}}
              {{if eq .Partida "general"}}General{{end}}
              / {{if gt .MontoBruto 0.00}}+{{end}}{{currency .MontoBruto}}
            </span>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
  {{if (eq .Cuenta.ID "COES")}}
  <br>
  <hr>
  <strong>Servicios pendientes de aprobación</strong>
  <br>
  {{range .ServiciosPendientesCOES}}
  <div class="card-item"
    hx-get="/api/servicios/{{.ID}}"
    hx-target="#dialog-content"
    hx-swap="innerHTML"
    onclick="showDialog()">
    <div style="background-color: {{if .FirmasCompletas}}goldenrod{{end}}" class="tag {{if .FirmasCompletas}}active{{end}}">Firmado</div>
    <div style="background-color: {{if .COES}}peru{{end}}" class="tag {{if .COES}}active{{end}}">COES</div>
    <div style="background-color: {{if .GecoSol}}cornflowerblue{{end}}" class="tag {{if .GecoSol}}active{{end}}">SF</div>
    <div style="background-color: {{if .Acuse}}seagreen{{end}}" class="tag {{if .Acuse}}active{{end}}">Ejecutado</div>
    <br>
    <span class="label">{{summary .Detalle 50}}</span>
    <span class="label">{{if .ProvNom}}{{summary .ProvNom 30}}{{else}}<i>Por definir</i>{{end}}</span>
    <span class="value">{{if .MontoBruto}}-{{currency .MontoBruto.Float64}}{{else}}<i>Por definir</i>{{end}}</span>
  </div>
  {{end}}
  <br>
  <hr>
  <strong>Suministros pendientes de aprobación</strong>
  <br>
  {{range .SuministrosPendientesCOES}}
  <div class="card-item"
    hx-get="/api/suministro/{{.ID}}"
    hx-target="#dialog-content"
    hx-swap="innerHTML"
    onclick="showDialog()">
    <div style="background-color: {{if .Firma}}goldenrod{{end}}" class="tag {{if .Firma}}active{{end}}">Firmado</div>
    <div style="background-color: {{if .COES}}peru{{end}}" class="tag {{if .COES}}active{{end}}">COES</div>
    <div style="background-color: {{if .GECO}}cornflowerblue{{end}}" class="tag {{if .GECO}}active{{end}}">SF</div>
    <div style="background-color: {{if .Acuse}}seagreen{{end}}" class="tag {{if .Acuse}}active{{end}}">Recibido</div>
    <br>
    <span class="label">Solicitud de suministros No. {{.ID}}</span>
    <span class="value">{{if .MontoBrutoTotal}}{{currency .MontoBrutoTotal}}{{else}}<i>Por definir</i>{{end}}</span>
  </div>
  {{end}}
  <br>
  <hr>
  <strong>Bienes pendientes de aprobación</strong>
  <br>
  {{range .BienesPendientesCOES}}
  <div class="card-item"
    hx-get="/api/bienes/{{.ID}}"
    hx-target="#dialog-content"
    hx-swap="innerHTML"
    onclick="showDialog()">
    <div style="background-color: {{if .FirmasCompletas}}goldenrod{{end}}" class="tag {{if .FirmasCompletas}}active{{end}}">Firmado</div>
    <div style="background-color: {{if .COES}}peru{{end}}" class="tag {{if .COES}}active{{end}}">COES</div>
    <div style="background-color: {{if .GecoSol}}cornflowerblue{{end}}" class="tag {{if .GecoSol}}active{{end}}">SF</div>
    <div style="background-color: {{if .Acuse}}seagreen{{end}}" class="tag {{if .Acuse}}active{{end}}">Recibido</div>
    <br>
    <span class="label">{{.Detalle}}</span>
    <span class="label">{{if .ProvNom}}{{summary .ProvNom 30}}{{else}}<i>Por definir</i>{{end}}</span>
    <span class="value">{{if .MontoBruto}}{{currency .MontoBruto}}{{else}}<i>Por definir</i>{{end}}</span>
  </div>
  {{end}}
  <br>
  <hr>
  <strong>Donaciones pendientes de aprobación</strong>
  <br>
  {{range .DonacionesPendientesCOES}}
  <div class="card-item"
    hx-get="/api/donaciones/{{.ID}}"
    hx-target="#dialog-content"
    hx-swap="innerHTML"
    onclick="showDialog()">
    <div style="background-color: {{if .CartaCOES}}peru{{end}}" class="tag {{if .CartaCOES}}active{{end}}">COES</div>
    <br>
    <span class="label">{{.Detalle}}</span>
    <span class="value">
      {{.CuentaSalida}} / {{.PartidaSalida}} / -{{currency .MontoBruto}}
    </span>
    <span class="value">
      {{.CuentaEntrada}} / {{.PartidaEntrada}} / +{{currency .MontoBruto}}
    </span>
  </div>
  {{end}}
  {{end}}
</main>
{{end}}
