<h1>{{.Cuenta.Nombre}}</h1>
<span>Acreditaciones:</span>
<div style="background-color: {{if .Cuenta.TEEU}}seagreen{{end}}" class="tag {{if .Cuenta.TEEU}}active{{end}}">TEEU</div>
<div style="background-color: {{if .Cuenta.COES}}seagreen{{end}}" class="tag {{if .Cuenta.COES}}active{{end}}">COES</div>
<div class="tooltip">
  <i class='bx bxs-info-circle' ></i>
  <div class="tooltip-text">
    Se necesitan estas acreditaciones para ejecutar presupuesto.
  </div>
</div>
<div class="scrollable">
  {{if .Cuenta.PGeneral}}
  <div class="item">
    <div class="card">
      <div class="card-header">
        <span class="card-title">{{.Periodo}}</span>
      </div>
      <!-- General -->
      <div class="card-item">
        <div class="progress-bar">
          <div class="progress" style="width: 10%;"></div>
        </div>
        <span class="label">General</span>
        <span class="value">₡265.000,00 / ₡1.546.425,51</span>
      </div>
    </div>
  </div>
  {{else}}
  <!-- P1 -->
  <div class="item">
    <div class="card">
      <div class="card-header">
        <span class="card-title">{{.Periodo}}-1</span>
        <span class="card-subtitle">₡265.000,00 / ₡1.546.425,51</span>
      </div>
      <!-- Servicios -->
      <div class="card-item">
        <div class="progress-bar">
          <div class="progress" style="width: 10%;"></div>
        </div>
        <span class="label">Servicios</span>
        <span class="value">₡265.000,00 / ₡1.546.425,51</span>
      </div>
      <!-- Suministros -->
      <div class="card-item">
        <div class="progress-bar">
          <div class="progress" style="width: 30%;"></div>
        </div>
        <span class="label">Suministros</span>
        <span class="value">₡265.000,00 / ₡1.546.425,51</span>
      </div>
      <!-- Bienes -->
      <div class="card-item">
        <div class="progress-bar">
          <div class="progress" style="width: 100%;"></div>
        </div>
        <span class="label">Bienes</span>
        <span class="value">₡265.000,00 / ₡1.546.425,51</span>
      </div>
    </div>
  </div>
  <!-- P2 -->
  <div class="item">
    <div class="card">
      <div class="card-header">
        <span class="card-title">{{.Periodo}}-1</span>
        <span class="card-subtitle">₡265.000,00 / ₡1.546.425,51</span>
      </div>
      <!-- Servicios -->
      <div class="card-item">
        <div class="progress-bar">
          <div class="progress" style="width: 10%;"></div>
        </div>
        <span class="label">Servicios</span>
        <span class="value">₡265.000,00 / ₡1.546.425,51</span>
      </div>
      <!-- Suministros -->
      <div class="card-item">
        <div class="progress-bar">
          <div class="progress" style="width: 30%;"></div>
        </div>
        <span class="label">Suministros</span>
        <span class="value">₡265.000,00 / ₡1.546.425,51</span>
      </div>
      <!-- Bienes -->
      <div class="card-item">
        <div class="progress-bar">
          <div class="progress" style="width: 100%;"></div>
        </div>
        <span class="label">Bienes</span>
        <span class="value">₡265.000,00 / ₡1.546.425,51</span>
      </div>
    </div>
  </div>
  {{end}}
</div>
<div class="scrollable">
  <div class="item">
    <!-- Servicios -->
    <div class="card">
      <div class="card-header">
        <span class="card-title">Servicios</span>
        <a href="#">
          <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
        </a>
      </div>
      <div class="card-items">
        <hr>
        <div class="card-item"
          hx-get="/solicitud/0"
          hx-target="#dialog-content"
          hx-swap="innerHTML"
          onclick="showDialog()">
          <div style="background-color: goldenrod" class="tag active">Firmado</div>
          <div style="background-color: cornflowerblue" class="tag active">SF</div>
          <div style="background-color: peru" class="tag active">COES</div>
          <div style="background-color: seagreen" class="tag active">Recibido</div>
          <br>
          <span class="label">Servicio de alimentación</span>
          <span class="label">Lidieth Aguilar</span>
          <br>
          <span class="value">₡265.000,00</span>
        </div>
        <hr>
        <div class="card-item">
          <div style="background-color: goldenrod" class="tag active">Firmado</div>
          <div style="background-color: cornflowerblue" class="tag active">SF</div>
          <div style="" class="tag">COES</div>
          <div style="" class="tag">Recibido</div>
          <br>
          <span class="label">Servicio de alimentación</span>
          <span class="label">Lidieth Aguilar</span>
          <br>
          <span class="value">₡265.000,00</span>
        </div>
        <hr>
        <div class="card-item">
          <div style="background-color: goldenrod" class="tag active">Firmado</div>
          <div style="" class="tag">SF</div>
          <div style="" class="tag">COES</div>
          <div style="" class="tag">Recibido</div>
          <br>
          <span class="label">Servicio de alimentación</span>
          <span class="label">Lidieth Aguilar</span>
          <br>
          <span class="value">₡265.000,00</span>
        </div>
        <hr>
        <div class="card-item">
          <div style="background-color: goldenrod" class="tag active">Firmado</div>
          <div style="" class="tag">SF</div>
          <div style="" class="tag">COES</div>
          <div style="" class="tag">Recibido</div>
          <br>
          <span class="label">Servicio de alimentación</span>
          <span class="label">Lidieth Aguilar</span>
          <br>
          <span class="value">₡265.000,00</span>
        </div>
      </div>
      <hr class="divisor">
      <div class="card-header">
        <span class="card-title">Ajustes</span>
      </div>
      <div class="card-summary">
        <div class="card-item">
          <span class="label">⦿ Donación DIR Semana U</span>
          <br>
          <span class="value">₡265.000,00</span>
        </div>
        <hr>
        <div class="card-item">
          <span class="label">⦿ Donación AECCI</span>
          <br>
          <span class="value">₡265.000,00</span>
        </div>
        <hr>
        <div class="card-item">
          <span class="label">⦿ Donación AECCI</span>
          <br>
          <span class="value">₡265.000,00</span>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <!-- Suministros -->
    <div class="card">
      <div class="card-header">
        <span class="card-title">Suministros</span>
        <a href="#">
          <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
        </a>
      </div>
      <div class="card-items">
        <hr>
        <div class="card-item">
          <div style="background-color: goldenrod" class="tag active">Firmado</div>
          <div style="background-color: cornflowerblue" class="tag active">SF</div>
          <div style="background-color: peru" class="tag active">COES</div>
          <div style="background-color: seagreen" class="tag active">Recibido</div>
          <br>
          <span class="label">Servicio de alimentación</span>
          <span class="label">Lidieth Aguilar</span>
          <br>
          <span class="value">₡265.000,00</span>
        </div>
        <hr>
        <div class="card-item">
          <div style="background-color: goldenrod" class="tag active">Firmado</div>
          <div style="" class="tag">SF</div>
          <div style="" class="tag">COES</div>
          <div style="" class="tag">Recibido</div>
          <br>
          <span class="label">Servicio de alimentación</span>
          <span class="label">Lidieth Aguilar</span>
          <br>
          <span class="value">₡265.000,00</span>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <!-- Bienes -->
    <div class="card">
      <div class="card-header">
        <span class="card-title">Bienes</span>
        <a href="#">
          <i style="font-size: 1.5em" class='bx bxs-edit' ></i>
        </a>
      </div>
    </div>
  </div>
</div>
