{{ define "fse" }}
<h1>Fondo Solidario Estudiantil</h1>
<h2>II-2025</h2>
<table>
<tr><td>B66179</td><td>30000</td></tr>
<tr><td>B78640</td><td>30000</td></tr>
<tr><td>B81972</td><td>30000</td></tr>
<tr><td>B83314</td><td>30000</td></tr>
<tr><td>B87177</td><td>30000</td></tr>
<tr><td>B94138</td><td>30000</td></tr>
<tr><td>C00635</td><td>30000</td></tr>
<tr><td>C00968</td><td>30000</td></tr>
<tr><td>C01775</td><td>30000</td></tr>
<tr><td>C04109</td><td>30000</td></tr>
<tr><td>C04182</td><td>30000</td></tr>
<tr><td>C07256</td><td>30000</td></tr>
<tr><td>C08930</td><td>30000</td></tr>
<tr><td>C10794</td><td>30000</td></tr>
<tr><td>C11168</td><td>30000</td></tr>
<tr><td>C12371</td><td>30000</td></tr>
<tr><td>C14079</td><td>30000</td></tr>
<tr><td>C20100</td><td>30000</td></tr>
<tr><td>C20182</td><td>30000</td></tr>
<tr><td>C21892</td><td>30000</td></tr>
<tr><td>C22652</td><td>30000</td></tr>
<tr><td>C22971</td><td>30000</td></tr>
<tr><td>C23545</td><td>30000</td></tr>
<tr><td>C24994</td><td>30000</td></tr>
<tr><td>C26443</td><td>30000</td></tr>
<tr><td>C26532</td><td>30000</td></tr>
<tr><td>C26552</td><td>30000</td></tr>
<tr><td>C27862</td><td>30000</td></tr>
<tr><td>C29313</td><td>30000</td></tr>
<tr><td>C30663</td><td>30000</td></tr>
<tr><td>C31380</td><td>30000</td></tr>
<tr><td>C31686</td><td>30000</td></tr>
<tr><td>C32406</td><td>30000</td></tr>
<tr><td>C32556</td><td>30000</td></tr>
<tr><td>C32753</td><td>30000</td></tr>
<tr><td>C33374</td><td>30000</td></tr>
<tr><td>C33582</td><td>30000</td></tr>
<tr><td>C33694</td><td>30000</td></tr>
<tr><td>C34133</td><td>30000</td></tr>
<tr><td>C34531</td><td>30000</td></tr>
<tr><td>C34547</td><td>30000</td></tr>
<tr><td>C34551</td><td>30000</td></tr>
<tr><td>C34587</td><td>30000</td></tr>
<tr><td>C34716</td><td>30000</td></tr>
<tr><td>C34835</td><td>30000</td></tr>
<tr><td>C35149</td><td>30000</td></tr>
<tr><td>C35456</td><td>30000</td></tr>
<tr><td>C35694</td><td>30000</td></tr>
<tr><td>C36178</td><td>30000</td></tr>
<tr><td>C37953</td><td>30000</td></tr>
<tr><td>C39112</td><td>30000</td></tr>
<tr><td>C39138</td><td>30000</td></tr>
<tr><td>C39346</td><td>30000</td></tr>
<tr><td>C4C421</td><td>30000</td></tr>
<tr><td>C4D491</td><td>30000</td></tr>
<tr><td>C4D970</td><td>30000</td></tr>
<tr><td>C4F255</td><td>30000</td></tr>
<tr><td>C4G349</td><td>30000</td></tr>
<tr><td>C4G783</td><td>30000</td></tr>
<tr><td>C4G817</td><td>30000</td></tr>
<tr><td>C4H304</td><td>30000</td></tr>
<tr><td>C4I297</td><td>30000</td></tr>
<tr><td>C4I319</td><td>30000</td></tr>
<tr><td>C4I616</td><td>30000</td></tr>
<tr><td>C4J709</td><td>30000</td></tr>
<tr><td>C4L413</td><td>30000</td></tr>
<tr><td>C5E718</td><td>30000</td></tr>
<tr><td>C5F880</td><td>30000</td></tr>
<tr><td>C5G138</td><td>30000</td></tr>
<tr><td>C5G658</td><td>30000</td></tr>
<tr><td>C5H677</td><td>30000</td></tr>
<tr><td>C5J161</td><td>30000</td></tr>
<tr><td>C5J972</td><td>30000</td></tr>
<tr><td>C5J999</td><td>30000</td></tr>
<tr><td>C5K276</td><td>30000</td></tr>
<tr><td>B20124</td><td>50000</td></tr>
<tr><td>B43434</td><td>50000</td></tr>
<tr><td>B57434</td><td>50000</td></tr>
<tr><td>B82993</td><td>50000</td></tr>
<tr><td>B83074</td><td>50000</td></tr>
<tr><td>B83221</td><td>50000</td></tr>
<tr><td>B86635</td><td>50000</td></tr>
<tr><td>B86722</td><td>50000</td></tr>
<tr><td>B88225</td><td>50000</td></tr>
<tr><td>B88920</td><td>50000</td></tr>
<tr><td>B93704</td><td>50000</td></tr>
<tr><td>B95338</td><td>50000</td></tr>
<tr><td>B96562</td><td>50000</td></tr>
<tr><td>B97675</td><td>50000</td></tr>
<tr><td>C04810</td><td>50000</td></tr>
<tr><td>C05016</td><td>50000</td></tr>
<tr><td>C08056</td><td>50000</td></tr>
<tr><td>C08804</td><td>50000</td></tr>
<tr><td>C10622</td><td>50000</td></tr>
<tr><td>C13152</td><td>50000</td></tr>
<tr><td>C13486</td><td>50000</td></tr>
<tr><td>C13687</td><td>50000</td></tr>
<tr><td>C14540</td><td>50000</td></tr>
<tr><td>C17391</td><td>50000</td></tr>
<tr><td>C20430</td><td>50000</td></tr>
<tr><td>C20899</td><td>50000</td></tr>
<tr><td>C20934</td><td>50000</td></tr>
<tr><td>C21711</td><td>50000</td></tr>
<tr><td>C21783</td><td>50000</td></tr>
<tr><td>C21968</td><td>50000</td></tr>
<tr><td>C22482</td><td>50000</td></tr>
<tr><td>C23120</td><td>50000</td></tr>
<tr><td>C23216</td><td>50000</td></tr>
<tr><td>C23237</td><td>50000</td></tr>
<tr><td>C24791</td><td>50000</td></tr>
<tr><td>C24983</td><td>50000</td></tr>
<tr><td>C28624</td><td>50000</td></tr>
<tr><td>C28932</td><td>50000</td></tr>
<tr><td>C29251</td><td>50000</td></tr>
<tr><td>C30719</td><td>50000</td></tr>
<tr><td>C31097</td><td>50000</td></tr>
<tr><td>C32624</td><td>50000</td></tr>
<tr><td>C34146</td><td>50000</td></tr>
<tr><td>C34298</td><td>50000</td></tr>
<tr><td>C35355</td><td>50000</td></tr>
<tr><td>C35455</td><td>50000</td></tr>
<tr><td>C36064</td><td>50000</td></tr>
<tr><td>C37551</td><td>50000</td></tr>
<tr><td>C37557</td><td>50000</td></tr>
<tr><td>C38504</td><td>50000</td></tr>
<tr><td>C39173</td><td>50000</td></tr>
<tr><td>C39374</td><td>50000</td></tr>
<tr><td>C4C292</td><td>50000</td></tr>
<tr><td>C4F061</td><td>50000</td></tr>
<tr><td>C4F962</td><td>50000</td></tr>
<tr><td>C4G158</td><td>50000</td></tr>
<tr><td>C4G459</td><td>50000</td></tr>
<tr><td>C4H583</td><td>50000</td></tr>
<tr><td>C4I431</td><td>50000</td></tr>
<tr><td>C4K192</td><td>50000</td></tr>
<tr><td>C4K888</td><td>50000</td></tr>
<tr><td>C4L659</td><td>50000</td></tr>
<tr><td>C5D535</td><td>50000</td></tr>
<tr><td>C5J211</td><td>50000</td></tr>
<tr><td>C5J407</td><td>50000</td></tr>
<tr><td>C5L499</td><td>50000</td></tr>
<tr><td>C5L558</td><td>50000</td></tr>
<tr><td>C5L760</td><td>50000</td></tr>
<tr><td>B05876</td><td>75000</td></tr>
<tr><td>B34388</td><td>75000</td></tr>
<tr><td>B41115</td><td>75000</td></tr>
<tr><td>B87891</td><td>75000</td></tr>
<tr><td>B92495</td><td>75000</td></tr>
<tr><td>B92724</td><td>75000</td></tr>
<tr><td>B94837</td><td>75000</td></tr>
<tr><td>C04742</td><td>75000</td></tr>
<tr><td>C05170</td><td>75000</td></tr>
<tr><td>C08190</td><td>75000</td></tr>
<tr><td>C08940</td><td>75000</td></tr>
<tr><td>C08968</td><td>75000</td></tr>
<tr><td>C12948</td><td>75000</td></tr>
<tr><td>C13238</td><td>75000</td></tr>
<tr><td>C13665</td><td>75000</td></tr>
<tr><td>C13719</td><td>75000</td></tr>
<tr><td>C15696</td><td>75000</td></tr>
<tr><td>C16064</td><td>75000</td></tr>
<tr><td>C20075</td><td>75000</td></tr>
<tr><td>C20253</td><td>75000</td></tr>
<tr><td>C20330</td><td>75000</td></tr>
<tr><td>C24066</td><td>75000</td></tr>
<tr><td>C28138</td><td>75000</td></tr>
<tr><td>C28779</td><td>75000</td></tr>
<tr><td>C30880</td><td>75000</td></tr>
<tr><td>C31123</td><td>75000</td></tr>
<tr><td>C31167</td><td>75000</td></tr>
<tr><td>C31925</td><td>75000</td></tr>
<tr><td>C32481</td><td>75000</td></tr>
<tr><td>C34112</td><td>75000</td></tr>
<tr><td>C34147</td><td>75000</td></tr>
<tr><td>C34501</td><td>75000</td></tr>
<tr><td>C34831</td><td>75000</td></tr>
<tr><td>C34834</td><td>75000</td></tr>
<tr><td>C36312</td><td>75000</td></tr>
<tr><td>C37771</td><td>75000</td></tr>
<tr><td>C38117</td><td>75000</td></tr>
<tr><td>C39062</td><td>75000</td></tr>
<tr><td>C39121</td><td>75000</td></tr>
<tr><td>C39286</td><td>75000</td></tr>
<tr><td>C39475</td><td>75000</td></tr>
<tr><td>C4D863</td><td>75000</td></tr>
<tr><td>C4D892</td><td>75000</td></tr>
<tr><td>C4E434</td><td>75000</td></tr>
<tr><td>C4F221</td><td>75000</td></tr>
<tr><td>C4G554</td><td>75000</td></tr>
<tr><td>C4H984</td><td>75000</td></tr>
<tr><td>C4I031</td><td>75000</td></tr>
<tr><td>C4I240</td><td>75000</td></tr>
<tr><td>C4I781</td><td>75000</td></tr>
<tr><td>C4J171</td><td>75000</td></tr>
<tr><td>C4J243</td><td>75000</td></tr>
<tr><td>C4K061</td><td>75000</td></tr>
<tr><td>C4K955</td><td>75000</td></tr>
<tr><td>C5E945</td><td>75000</td></tr>
<tr><td>C5F808</td><td>75000</td></tr>
<tr><td>C5L270</td><td>75000</td></tr>
<tr><td>C5L644</td><td>75000</td></tr>
</table>
{{ end }}
