{{ define "login" }}
<form method="POST">
  {{ if .ExternalEmail }}
  <article>
    <header class="pico-background-amber-150">
      Error iniciando sesión
    </header>
    Si es una entidad proveedora, visita la pestaña <a href="/proveedores">Proveedores</a>
    para ingresar o generar un código de autenticación para revisar el estado de sus solicitudes.
  </article>
  {{ end }}
  {{ if .Error }}
  <article>
    <header class="pico-background-amber-150">
      Error iniciando sesión
    </header>
    Verifica que estás digitando el correo y contraseña institucional
    o consulta con Secretaría de Finanzas si tienes un usuario habilitado.
  </article>
  {{ end }}
  <input
    type="email"
    name="email"
    placeholder="Correo Institucional"
    aria-label="Correo Institucional"
    autocomplete="email"
    required
  >
  <input
    type="password"
    name="password"
    placeholder="Contraseña"
    aria-label="Contraseña"
    required
  >
  {{ if .MultipleAccounts }}
  <select name="account" aria-label="Cuenta" required>
    <option selected disabled value="">Cuenta</option>
    {{ range .AllowedAccounts }}
    <option value="{{ .ID }}">{{ .Name }}</option>
    {{ end }}
  </select>
  {{ end }}
  <button
    type="submit"
    onclick="fetchAndSwap(event)"
    target="main"
    loading-state
  >
    Iniciar
  </button>
</form>
{{ end }}
