{{ define "catalogs" }}
<div class="body-width">
  <div class="overflow-auto">
    <table class="striped">
      <thead>
        <tr>
          <th><input type="number" placeholder="Agrupación" onkeyup="filterTable(this)"></th>
          <th><input type="text"   placeholder="Proveedor"  onkeyup="filterTable(this)"></th>
        </tr>
      </thead>
      <tbody id="catalog-rows">
        {{ range .Catalogs }}
        {{ template "catalog" . }}
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
<label for="addcatalog">Agregar Catálogo</label>
<form
  id="addcatalog"
  method="POST"
  action="/panel/catalog/add"
>
  <input type="number" step="1" name="grouping" placeholder="Agrupación"  aria-label="Agrupación"  required>
  <select name="supplier">
    <option value="" selected disabled>Proveedor</option>
    {{ range .Suppliers }}
    <option value="{{ .SupplierID }}">[{{ .SupplierID }}] {{ .SupplierName }}</option>
    {{ end }}
  </select>
  <button
    type="submit"
    onclick="fetchAndSwap(event)"
    target="#catalog-rows"
    swap="beforeend"
    loading-state
  >Agregar Catálogo</button>
</form>
{{ end }}
