{{ define "distribution" }}
<tr>
  <td onclick="toggleModal('modal-dist-{{ .DistID }}')">
    <a>{{ .DistID }}</a>
  </td>
  <td>{{ .PeriodName }}</td>
  <td>{{ .AccountAbbr }}</td>
  <td>{{ .EntryCode }}</td>
  <td>{{ currency .DistAmount }}</td>
  <td>
    <form method="POST" action="/panel/dist/toggle/{{ .DistID }}">
      <input
        type="checkbox"
        role="switch"
        {{ if .DistActive }}checked{{ end }}
        onchange="fetchAndSwap(event)"
        swap="none"
        loading-state
      >
    </form>
  </td>
</tr>
{{ end }}
