{{ define "distribution" }}
<tr>
  <td onclick="toggleModal('modal-dist-{{ .DistID }}')">
    <a>{{ .DistID }}</a>
  </td>
  <td>{{ .PeriodName }}</td>
  <td>{{ .AccountAbbr }}</td>
  <td tags="{{ .EntryCode }}">[{{ .EntryYear }}] [{{ .EntryCode }}] {{ .EntryObject }}</td>
  <td style="text-align:right;">{{ currency .DistAmount }}</td>
  <td style="text-align:right;">
    <div style="display:flex;justify-content:flex-end;">
      <form method="POST" action="/panel/dist/toggle/{{ .DistID }}">
        <input
          type="checkbox"
          role="switch"
          {{ if .DistActive }}checked{{ end }}
          onchange="fetchAndSwap(event)"
          swap="none"
          loading-state
        >
      </form>
    </div>
  </td>
</tr>
<dialog id="modal-dist-{{ .DistID }}">
  <article>
    <header>
      <button rel="prev" type="button" onclick="toggleModal('modal-dist-{{ .DistID }}')"></button>
      <h3>Editar Distribución #{{ .DistID }}</h3>
    </header>
    {{ template "dist-update-form" . }}
  </article>
</dialog>
{{ end }}
