{{ define "item" }}
<tr>
  <td>{{ .CatalogGrouping }}</td>
  <td onclick="toggleModal('modal-item-{{ .ItemID }}')">
    <a>{{ .ItemNumber }}</a>
  </td>
  <td tags="{{ .SupplierID }} {{ formatID .SupplierID }}">{{ .SupplierName }}</td>
  <td>{{ summary .ItemSummary 30 }}</td>
  <td>{{ summary .ItemDescription 30 }}</td>
  <td style="text-align:right;">{{ currency .ItemAmount }}</td>
</tr>
<dialog id="modal-item-{{ .ItemID }}">
  <article>
    <header>
      <button rel="prev" type="button" onclick="toggleModal('modal-item-{{ .ItemID }}')"></button>
      <h3>Artículo #{{ .ItemID }}</h3>
    </header>
    {{ template "item-update-form" . }}
  </article>
</dialog>
{{ end }}
