{{ define "item-update-form" }}
<form
  id="form-item-{{ .ItemID }}"
  method="PUT"
  action="/panel/item/update/{{ .ItemID }}"
>
  <input type="number" value="{{ .ItemNumber }}"      name="number"  placeholder="Artículo"    aria-label="Artículo"    required>
  <input type="text"   value="{{ .ItemDescription }}" name="desc"    placeholder="Descripción" aria-label="Descripción" required>
  <input type="number" value="{{ .ItemAmount }}"      name="amount"  placeholder="Monto"       aria-label="Monto"       required>
  <button
    type="submit"
    onclick="fetchAndSwap(event)"
    target="#form-item-{{ .ItemID }}"
    swap="outerHTML"
    loading-state
  >Actualizar Artículo</button>
</form>
{{ end }}
