{{ define "panel" }}
<details>
  <summary><big><strong>Presupuesto Global</strong></big></summary>
  {{ template "budgets" . }}
</details>
<details>
  <summary><big><strong>Usuarios</big></strong></summary>
  {{ template "users" . }}
</details>
<details>
  <summary><big><strong>Cuentas</big></strong></summary>
  {{ template "accounts" . }}
</details>
<details>
  <summary><big><strong>Períodos</big></strong></summary>
  {{ template "periods" . }}
</details>
<details>
  <summary><big><strong>Distribuciones</big></strong></summary>
  {{ template "distributions" . }}
</details>
<details>
  <summary><big><strong>Proveedores</big></strong></summary>
  {{ template "suppliers" . }}
</details>
<details>
  <summary><big><strong>Catálogos</big></strong></summary>
  {{ template "catalogs" . }}
</details>
<details>
  <summary><big><strong>Artículos</big></strong></summary>
  {{ template "items" . }}
</details>
{{ end }}
