{{ define "panel" }}
<details>
  <summary>Presupuesto Global</summary>
  {{ template "budgets" . }}
</details>
<details>
  <summary>Usuarios</summary>
  {{ template "users" . }}
</details>
<details>
  <summary>Cuentas</summary>
  {{ template "accounts" . }}
</details>
<details>
  <summary>Períodos</summary>
  {{ template "periods" . }}
</details>
<details>
  <summary>Distribuciones</summary>
  {{ template "distributions" . }}
</details>
<details>
  <summary>Proveedores</summary>
  {{ template "suppliers" . }}
</details>
<details>
  <summary>Catálogos</summary>
  {{ template "catalogs" . }}
</details>
{{ end }}
