{{ define "period" }}
<tr>
  <td onclick="toggleModal('modal-period-{{ .PeriodID }}')">
    <a>{{ .PeriodName }}</a>
  </td>
  <td>{{ unixDateToStr .PeriodStart }}</td>
  <td>{{ unixDateToStr .PeriodEnd }}</td>
  <td style="text-align:right;">
    <div style="display:flex;justify-content:flex-end;">
      <form method="POST" action="/panel/period/toggle/{{ .PeriodID }}">
        <input
          type="checkbox"
          role="switch"
          {{ if .PeriodActive }}checked{{ end }}
          onchange="fetchAndSwap(event)"
          swap="none"
          loading-state
        >
      </form>
    </div>
  </td>
</tr>
<dialog id="modal-period-{{ .PeriodID }}">
  <article>
    <header>
      <button rel="prev" type="button" onclick="toggleModal('modal-period-{{ .PeriodID }}')"></button>
      <h3>Editar Período #{{ .PeriodID }}</h3>
    </header>
    {{ template "period-update-form" . }}
  </article>
</dialog>
<div style="display:none;">
  <option data-oob="#panel-distributions-select-period" swap="beforeend" value="{{ .PeriodID }}">{{ .PeriodName }}</option>
</div>
{{ end }}
