{{ define "permission" }}
<table>
  <tr>
    <td><strong>{{ .Permission.AccountAbbr }}</strong></td>
    <td></td>
  </tr>
  {{ range .PermissionTypes }}
  <tr>
    <td>{{ .Label }}</td>
    <td style="text-align: right;">
      <form method="PUT" action="/panel/perm/toggle/{{ .Name }}/{{ $.Permission.PermissionID }}">
        <input
          type="checkbox"
          role="switch"
          {{ if hasPermission $.Permission.PermissionInteger .Bit }}checked{{ end }}
          onchange="fetchAndSwap(event)"
          swap="none"
          loading-state
        >
      </form>
    </td>
  </tr>
  {{ end }}
</table>
{{ end }}
