{{ define "user" }}
<tr>
  <td class="clickable" onclick="toggleModal('modal-user-{{ .UserID }}')">{{ .UserEmail }}</td>
  <td>{{ .UserName }}</td>
  <td style="text-align:right;">
    <div style="display:flex;justify-content:flex-end;">
      <form method="POST" action="/panel/user/toggle/{{ .UserID }}">
        <input
          type="checkbox"
          role="switch"
          {{ if .UserActive }}checked{{ end }}
          onchange="fetchAndSwap(event)"
          swap="none"
          loading-state
        >
      </form>
    </div>
  </td>
  {{ if .AddUserForm }}
  {{ template "user-modal" (dict "UserID" .UserID "UserEmail" .UserEmail "UserName" .UserName "Permissions" .Permissions "PermissionTypes" .PermissionTypes "Accounts" .Accounts) }}
  {{ end }}
</tr>
{{ end }}
