{{ define "users" }}
<div class="overflow-auto">
  <table class="striped">
    <thead>
      <tr>
        <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Usuario" onkeyup="filterTable(this)"></th>
        <th><input type="text" style="all:unset;font-weight:normal;" placeholder="Nombre"  onkeyup="filterTable(this)"></th>
        <th>Activo</th>
      </tr>
    </thead>
    <tbody id="user-rows">
      {{ range .Users }}
      {{ template "user" . }}
      {{ end }}
    </tbody>
  </table>
</div>
<label for="adduser">Agregar Usuario</label>
<form
  id="adduser"
  method="POST"
  action="/panel/user/add"
>
  <input type="email" name="email" placeholder="Correo institucional" aria-label="Correo institucional" autocomplete="email" required>
  <input type="text" name="name" placeholder="Nombre completo" aria-label="Nombre completo" required>
  <button
    type="submit"
    onclick="fetchAndSwap(event)"
    target="#user-rows"
    swap="beforeend"
    loading-state
  >Agregar Usuario</button>
</form>
{{ range .Users }}
<dialog id="modal-user-{{ .UserID }}">
  <article>
    <header>
      <button type="button" onclick="toggleModal('modal-user-{{ .UserID }}')">x</button>
      <h3>Usuario #{{ .UserID }}</h3>
    </header>
    {{ template "user-permissions" (dict "UserID" .UserID "UserEmail" .UserEmail "UserName" .UserName "Permissions" $.Permissions "PermissionTypes" $.PermissionTypes "Users" $.Users "Accounts" $.Accounts) }}
  </article>
</dialog>
{{ end }}
{{ end }}
