{{ define "content" }}
<h1>Febrero 2025</h1>
<h2>Indicaciones para Emisión de Presupuesto 2025</h2>
<p>
  Las siguientes indicaciones aplican para cualquier órgano o asociación federada plena.
  Favor realizar la solicitud a través del sistema, o como segunda opción enviando un documento al correo
  <a href="mailto:finanzas.feucr@ucr.ac.cr">finanzas.feucr@ucr.ac.cr</a>,
  en cuyo caso se registrará manualmente en el sistema para darle seguimiento.
</p>
<ul>
  <li>
    Fecha límite de entrega de servicios: 25 de febrero, extendible mediante solicitud de prórroga dirigida a la Contraloría Estudiantil (en cuyo caso debe enviarse antes del 26 de febrero y se permite prorrogarse la entrega de solicitudes hasta el 7 de marzo).
  </li>
  <li>
    Fecha límite de entrega de activos: 24 de febrero, no extendible.
  </li>
  <li>
    Detalle: Redactar el detalle de lo que se requiere, por ejemplo, fecha o rango de fechas, desglose del servicio, especificaciones del activo, etc.
  </li>
  <li>
    Justificación: Redactar siguiendo las <a href="#coes">indicaciones emitidas por la Contraloría Estudiantil</a>.
  </li>
</ul>
<p>
  Tanto para las asociaciones federadas plenas como para los órganos, se establece que la emisión de la partida de activos deberá realizarse exclusivamente durante el primer semestre del año I-2025, en cumplimiento con las recomendaciones recibidas por la Oficina de Suministros (OSUM) para acatar estas indicaciones, se insta a las asociaciones estudiantiles planificar el uso del presupuesto de activos a más tardar al finalizar el mes de febrero.
</p>
<p>
  Asimismo, para las solicitudes de activos y servicios con motivo de alimentación, serigrafiado y entretenimiento, que se puedan prever o estén planificadas antes de la fecha límite, será necesario presentar las solicitudes de manera anticipada a la Secretaría de Finanzas, a más tardar el 25 de febrero.
</p>
<p>
  Esto permitirá fomentar una gestión más eficiente y ordenada de las solicitudes, garantizando una adecuada planificación y asignación de los recursos disponibles.
</p>
<h2 id="coes">Lineamientos COES</h2>
<ol>
  <li>Detallar para qué es el servicio que se necesita: Si es una cafeteada, almuerzo, etc.</li>
  <li>Dónde se va a llevar esta actividad y si ya cuentan con el permiso de la misma: Por  ejemplo, <em>“En el segundo piso de la facultad y se cuenta con el permiso del decanato”</em>.</li>
  <li>Fecha o rango de fechas, nombre de la actividad o evento conmemorativo, cultural, etc.</li>
  <li>Para quienes van dirigido el servicio. Si es abierto a toda la población estudiantil no es necesario especificar el método de selección, pero si es sólo para 40 personas, por ejemplo, indicar que se seleccionaron a esas personas por medio de un formulario, afiches o el método que corresponda.</li>
  <li>¿Porqué se necesita este servicio?.</li>
  <li>¿Por qué es necesaria la cantidad solicitada?. Por ejemplo, si es alimentación, indicar la razón por la que se pide la cantidad de unidades especificada.</li>
  <li>¿De qué forma este servicio beneficia a estas personas?</li>
  <li>Los detalles del servicio: en caso de que sea de alimentos deberán especificar si es un casado, una lasaña, un  pastel, etc.  Si  lleva  refresco, fruta, postre, entre otros detalles.</li>
  <li>Declaración jurada: <em>“La contratación de este servicio será realizado bajo la normativa nacional e institucional de la UCR velando por el correcto cumplimiento de los deberes y derechos de ambas partes involucradas”</em>.</li>
</ol>
<h1>Enero 2025</h1>
<h2>Distribución Presupuestaria 2025</h2>
<div class="overflow-auto">
  <table class="striped"><thead>
    <tr>
      <th>Órgano</th>
      <th>Porcentaje</th>
      <th>Servicios</th>
      <th>Suministros</th>
      <th>Activos</th>
      <th>Total</th>
    </tr></thead>
  <tbody>
    <tr>
      <td>Consejo Superior Estudiantil</td>
      <td>53.00%</td>
      <td>₡141,732,144.73</td>
      <td>₡4,518,250.00</td>
      <td>₡7,342,327.44</td>
      <td>₡153,592,722.17</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cuerpo Coordinador</td>
      <td>2.50%</td>
      <td>₡6,685,478.53</td>
      <td>₡213,125.00</td>
      <td>₡346,336.20</td>
      <td>₡7,244,939.73</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asociaciones Estudiantiles Federadas Plenas de la Sede Rodrigo Facio</td>
      <td>26.00%</td>
      <td>₡69,528,976.66</td>
      <td>₡2,216,500.00</td>
      <td>₡3,601,896.48</td>
      <td>₡75,347,373.14</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asociaciones Estudiantiles de Sedes Regionales</td>
      <td>10.00%</td>
      <td>₡26,741,914.10</td>
      <td>₡852,500.00</td>
      <td>₡1,385,344.80</td>
      <td>₡28,979,758.90</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consejos de Asociaciones de Carrera de Sedes y Recintos Regionales</td>
      <td>6.00%</td>
      <td>₡16,045,148.46</td>
      <td>₡511,500.00</td>
      <td>₡831,206.88</td>
      <td>₡17,387,855.34</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comisión Evaluadora de Proyectos</td>
      <td>4.50%</td>
      <td>₡12,033,861.35</td>
      <td>₡383,625.00</td>
      <td>₡623,405.16</td>
      <td>₡13,040,891.51</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consejos de Asociaciones Estudiantiles</td>
      <td>2.00%</td>
      <td>₡5,348,382.82</td>
      <td>₡170,500.00</td>
      <td>₡277,068.96</td>
      <td>₡5,795,951.78</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consejo de Estudiantes de Sedes y Recintos Regionales</td>
      <td>2.00%</td>
      <td>₡5,348,382.82</td>
      <td>₡170,500.00</td>
      <td>₡277,068.96</td>
      <td>₡5,795,951.78</td>
    </tr>
    <tr>
      <td>Directorio</td>
      <td>30.00%</td>
      <td>₡80,225,742.30</td>
      <td>₡2,557,500.00</td>
      <td>₡4,156,034.40</td>
      <td>₡86,939,276.70</td>
    </tr>
    <tr>
      <td>Tribunal Electoral Estudiantil Universitario</td>
      <td>8.50%</td>
      <td>₡22,730,626.99</td>
      <td>₡724,625.00</td>
      <td>₡1,177,543.08</td>
      <td>₡24,632,795.07</td>
    </tr>
    <tr>
      <td>Contraloría Estudiantil</td>
      <td>1.00%</td>
      <td>₡2,674,191.41</td>
      <td>₡85,250.00</td>
      <td>₡138,534.48</td>
      <td>₡2,897,975.89</td>
    </tr>
    <tr>
      <td>Defensoría Estudiantil Universitaria</td>
      <td>2.00%</td>
      <td>₡5,348,382.82</td>
      <td>₡170,500.00</td>
      <td>₡277,068.96</td>
      <td>₡5,795,951.78</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sede Rodrigo Facio</td>
      <td>1.50%</td>
      <td>₡4,011,287.12</td>
      <td>₡127,875.00</td>
      <td>₡207,801.72</td>
      <td>₡4,346,963.84</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defensorías de Sedes y Recintos Regionales</td>
      <td>0.50%</td>
      <td>₡1,337,095.71</td>
      <td>₡42,625.00</td>
      <td>₡69,267.24</td>
      <td>₡1,448,987.95</td>
    </tr>
    <tr>
      <td>Frente Ecologista Universitario</td>
      <td>0.50%</td>
      <td>₡1,337,095.71</td>
      <td>₡42,625.00</td>
      <td>₡69,267.24</td>
      <td>₡1,448,987.95</td>
    </tr>
    <tr>
      <td>Editorial Estudiantil</td>
      <td>4.00%</td>
      <td>₡10,696,765.64</td>
      <td>₡341,000.00</td>
      <td>₡554,137.92</td>
      <td>₡11,591,903.56</td>
    </tr>
    <tr>
      <td>Secretaría de Finanzas</td>
      <td>0.50%</td>
      <td>₡1,337,095.71</td>
      <td>₡42,625.00</td>
      <td>₡69,267.24</td>
      <td>₡1,448,987.95</td>
    </tr>
    <tr>
      <td>Procuraduría Estudiantil Universitaria</td>
      <td>0.50%</td>
      <td>₡1,337,095.71</td>
      <td>₡42,625.00</td>
      <td>₡69,267.24</td>
      <td>₡1,448,987.95</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>100.00%</td>
      <td>₡267,419,141.00</td>
      <td>₡8,525,000.00</td>
      <td>₡13,853,448.00</td>
      <td>₡289,797,589.00</td>
    </tr>
  </tbody></table>
</div>
{{ end }}
