{{ define "login" }}
<form hx-post="/api/login" hx-target="main" hx-swap="innerHTML" hx-ext="loading-state">
  {{ if .Error }}
  <article>
    <header class="pico-background-amber-150">
      Error iniciando sesión
    </header>
    Verifica que estás digitando el correo y contraseña institucional,
    o consulta con Secretaría de Finanzas si tienes un usuario habilitado.
  </article>
  {{ end }}
  <label for="email">Correo Institucional</label>
  <input
    id="email"
    type="email"
    name="email"
    placeholder="nombre.apellidos@ucr.ac.cr"
    aria-label="Email"
    autocomplete="email"
    required
  >
  <label for="password">Contraseña</label>
  <input
    id="password"
    type="password"
    name="password"
    aria-label="Password"
    required
  >
  <button type="submit" loading-state>
    Iniciar
  </button>
</form>
{{ end }}
