{{ define "login" }}
<form hx-post="/api/login" hx-target="main" hx-swap="innerHTML" hx-ext="loading-state">
  {{ if .ExternalEmail }}
  <article>
    <header class="pico-background-amber-150">
      Error iniciando sesión
    </header>
    Si es una entidad proveedora, visita la pestaña <a href="/proveedores">Proveedores</a>
    para ingresar o generar un código de autenticación para revisar el estado de sus solicitudes.
  </article>
  {{ end }}
  {{ if .Error }}
  <article>
    <header class="pico-background-amber-150">
      Error iniciando sesión
    </header>
    Verifica que estás digitando el correo y contraseña institucional
    o consulta con Secretaría de Finanzas si tienes un usuario habilitado.
  </article>
  {{ end }}
  <label for="email">Usuario</label>
  <input
    id="email"
    type="email"
    name="email"
    placeholder="nombre.apellidos@ucr.ac.cr"
    aria-label="Email"
    autocomplete="email"
    required
  >
  <label for="password">Contraseña</label>
  <input
    id="password"
    type="password"
    name="password"
    aria-label="Password"
    required
  >
  {{ if .MultipleAccounts }}
  <select name="account" aria-label="Cuenta" required>
    <option selected disabled value="">Cuenta</option>
    {{ range .AllowedAccounts }}
    <option value="{{ .ID }}">{{ .Name }}</option>
    {{ end }}
  </select>
  {{ end }}
  <button type="submit" loading-state>
    Iniciar
  </button>
</form>
{{ end }}
