{{ define "resumen-cuentas" }}
<hr>
<h2>Presupuesto Emitido</h2>
<div class="overflow-auto">
  <table class="striped">
    <thead>
      <tr>
        <th scope="col">Cuenta</th>
        <th scope="col">Servicios</th>
        <th scope="col">Suministros</th>
        <th scope="col">Bienes</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>
</div>
{{ end }}
