[Unit]
Description=Sistema Integrado Financiero de la FEUCR
After=multi-user.target

[Service]
User=sifeucr
Group=sifeucr
WorkingDirectory=/home/sifeucr/sifeucr
Restart=always
ExecStart=/usr/local/bin/sifeucr
ExecReload=pkill sifuecr && /usr/local/bin/sifeucr
ExecStop=pkill sifuecr
StandardOutput=append:/var/log/sifeucr/logs.log
StandardError=append:/var/log/sifeucr/errors.log

[Install]
WantedBy=default.target
